%a#termtoggle Run Terminal &raquo;

#search
  %label
    Search
    %input.search{ 'x-webkit-speech' => 'x-webkit-speech' }

#term{ :style => 'display:none' }

%ul.list
  -@apis.each do |api|
    %li.api{ :id => "the#{api[:path]}" } 
      %h2
        %a{ :href => "/#{api[:path]}" }= "#{api[:path]}"
      %p.desc= api[:desc]

      .implementation 
        %strong Implementation
        %a.run{ :href => "/#{api[:path]}", 'data-loader' => 'Run &raquo;' }
          Run &raquo;
        %pre
          %code{ 'data-language' => 'ruby' }= api[:zex]

      .parameters 
        %strong Params 
        %pre
          %code{ 'data-language' => 'ruby' }= "#{api[:param].to_s[1..-2]}"

      -# SOURCE
      %pre.source
        %code{ 'data-language' => 'ruby' }= api[:source]

      -# SAMPLE OUTPUT
      .hideable
        .hide x
        %pre.sample
          %code{ 'data-language' => 'javascript' }
