!!!5
%html
  %head
    %title= settings.site_title
    %link{:rel => 'stylesheet', :href => '/js/rainbow/themes/github.css'}
    %link{:rel => 'stylesheet', :href => '/css/api.css'}
    %style
      :sass


  %body
    #main.wrap

      #header.cf
        %h1 
          %a{ :href => @github }= settings.site_title
        %a#github{ :href => @github } Github
        #key
          %label{ :for => 'z_key' }
            Your Key
            %input{ :name => 'z_key', :value => @z_key }


      #begin.cf
        :markdown
          Setup 
          -----
          #{settings.site_title} is a [Zillow API](http://www.zillow.com/howto/api/APIOverview.htm) 
          implementation written in [Ruby](http://ruby-lang.org/)
          designed to self document in this [Sinatra](http://www.sinatrarb.com/) app.
          To use some of the samples below, 
          just instantiate a basic `Zirrow` object:

        %pre
          %code{ 'data-language' => 'ruby' }= "require './Zirrow'\n@z = Zirrow.new :key => 'ZWSID'"
        
          
      #apis.cf
        %h2 Methods 

      -@apis.each do |api|
        .api{ :id => api[:path] } 
          %h2
            %a{ :href => "/#{api[:path]}" }= "/#{api[:path]}"
          %p= api[:desc]

          %pre.implemenation
            %code{ 'data-language' => 'ruby', 'data-example' => api[:example] }= api[:example]

          -# SOURCE
          %pre.source
            %code{ 'data-language' => 'ruby' }= api[:source]

          -# SAMPLE OUTPUT
          .hideable
            .hide x
            %pre.sample
              %code{ 'data-language' => 'javascript' }

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
    %script{ :src => "/js/rainbow/js/rainbow.min.js" }
    %script{ :src => "/js/rainbow/js/language/ruby.js" }
    %script{ :src => "/js/rainbow/js/language/javascript.js" }
    %script{ :src => "/js/api.js" }
